/* Styles */
#app {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #4d4d4d;
	min-width: 550px;
	max-width: 850px;
	margin: 0 auto;
}

#header {
	background: #f7f7f7;
	height: 50px;

}

#hearderSearchBar {

}

a.active {
	background: #e5e5e5;
}


nav {
	padding-top: 20px;
	padding-right: 0px;
}

.center {
	
   	text-align:center;
    vertical-align: bottom;
}

.bottom {
	vertical-align: bottom;
}

.whiteFont {
	color: white;
}

#associateTitleDiv {
	background: #4169E1;
	height: 80px;
	vertical-align: middle;
}
.floatLeft {
	float: left;
	width: 50%;
	height: 100%;
}

.floatRight {
	float: right;
	width: 50%;
	height: 100%;
}

.floatCenter {
	float: center;
}

.commentBox {
	padding: 0;
    margin: 0;
    width:500px; 
}

.border {
	border-style: solid;
	border-width: 1px;
	border-color: grey;
}

.row {
  /*display: flex;*/ /* equal height of the children */
  display:  table-row;
}

.colLeft {
  display: table-cell;
  width: 15%; /* depends on the number of columns */
  height: 400px;

}

.colRight{
  display: table-cell;
  width: 85%; /* depends on the number of columns */
  height: 400px;

}

.container {
	position: relative;
}

.dropDownWidth {
	width: 200px;
}

.h1Width {
	width: 400px;
}

.leftPadingSpace {
	padding-left: 4mm;
}

.yScrollable {
	overflow-y: scroll;
}
